# .github/workflows/labeler.yml
name: Labeler

on:
  push:
    branches:
      - main

jobs:
  labeler:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v5.0.0

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v3.1.0
        with:
          skip-delete: true
